.product-card {
  background: #26263f;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
}
.product-card .delete-checkbox {
  position: relative;
  left: -50%;
  top: -10px;
}
.product-card .product-card-content {
  margin: 0;
  text-align: center;
}
.product-card .product-card-content p {
  margin: 2px;
}

/*# sourceMappingURL=ProductCard.css.map */
