header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-right: 20px;

  .spacer {
    flex-grow: 1;
  }

  button {
    background: rgb(38, 38, 63);
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
    outline: none;
    border: none;
    // border: 1px solid white;
    border-radius: 3px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    padding: 10px 5px;

    &:hover {
      background: rgb(29, 29, 46);
    }
  }
}